@model Kaisokku_Sales.Models.SavePageContent

@{

    ViewBag.Title = "PageManagement";
}
<h1>Content Management system</h1>
@*@Html.Hidden("HdnPageMenuId", (int)ViewBag.PageMenuId)*@

<br />




<div class="row" style="padding-top: 10px;">
    <div class="col-md-2">
        @Html.Label("Title")
    </div>
    <div class="col-md-4">
        @Html.TextAreaFor(m => m.pagedescription, new { @class = "form-control", id = "txtTitle" })

        <label id="MsgTitle" style="color:red;"></label>
        @Html.Hidden("PageNameFld", (string)ViewBag.MyPageName)
    </div>

</div>
<div class="row" style="padding-top: 10px;">
    <div class="col-md-2">
        @Html.Label("Description")
    </div>
    <div class="col-md-10">
        <div id="txtEditor"></div>

        <label id="MsgDescription" style="color:red;"></label>
        <label id="MsgDescription" style="color:red;"></label>


    </div>
</div>

<div class="row checkbox">
    <div class="col-md-2">

    </div>
    <div class="col-md-3" style="padding-bottom: 5px;">
        <br />
        <button class="btn btn-primary" type="submit" id="btnSubmit">@Kaisokku_Sales.Resources.Resource.Submit</button>
        <br />

    </div>
</div>


<div class="row">
    <div class="cold-md-5">

    </div>


    @Html.Hidden("HdnEditFlag")
    @Html.Hidden("HdnEditPageId")
    @Html.Hidden("DeletePageId")
</div>
<div>
    <br />
    <div style="background:white;padding:10px;">
        <table id="PageGrid" class="table table-striped table-bordered dt-responsive" width="100%" cellspacing="0">
            <thead>
                <tr>

                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>

                    <th>@Kaisokku_Sales.Resources.Resource.Edit</th>
                    @*<th>@Kaisokku_Sales.Resources.Resource.Delete</th>*@
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="DeletePageModal" tabindex="-1" role="dialog" aria-labelledby="DeletePageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeletePageModalLabel">Delete content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body Deletemenucontent">
                Are you want to delete content

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Kaisokku_Sales.Resources.Resource.No</button>
                <button type="button" class="btn btn-primary btndeletepage btn-danger">@Kaisokku_Sales.Resources.Resource.Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SucMSG" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body ">
                <label id="MSG"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
@section ScriptSection{
    <script src="~/WYSIWY/editor.js"></script>
    <script>
        $("#txtEditor").Editor();

    </script>

    <script>
        

            function RefreshDataTable() {
                $('#PageGrid').DataTable().ajax.reload(null, false);
                $("#PageGrid").DataTable().page('first').draw('page');
            }

        $(document).ready(function () {

            var PageName = $('#PageNameFld').val()
            $("#HdnEditFlag").val("");
            $("#PageGrid").DataTable({
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                language: {
                    searchPlaceholder: "ID/Title"
                },


                "ajax": {
                    "url":  "@Url.Action("LoadContentdata", "Content")",
                    "type": "POST",
                    "data": { "PageName": PageName },
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [1],
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [2],
                        "searchable": false,
                        "orderable": false
                    },

                    {
                        "targets": [3],
                        "searchable": false,
                        "orderable": false
                    },
                        //{
                        //    "targets": [4],
                        //    "searchable": false,
                        //    "orderable": false
                        //},
                    ],


                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "Title", "name": "Title", "autoWidth": true },
                    { "data": "Description", "name": "Description", "autoWidth": true },

                     {
                         "render": function (data, type, row, meta) { return "<a class='' href='javascript:void(0);' onclick=EditMenu('" + row.Id + "');><span  class='glyphicon glyphicon-pencil' aria-hidden='true'></a>"; }
                    //},

                    //{
                    //    data: null, render: function (data, type, row) {
                    //        return "<a href='#' class='' onclick=DeletePageConfirmation('" + row.Id + "'); ><span  class='glyphicon glyphicon-trash' aria-hidden='true'></span></a>";
                    //    }
                    },

                ]

            });
        });

    </script>


    <script>

        //$(document).ready(function () {
        //    $('.Editor-editor').on('input', (event) => txtchange());
        //});



        function txtchange() {

            var x = $('.Editor-editor').html();
            var len = x.length;
            if (len > 10) {
                $('#MsgDescription').val("Maximum 1000 charcters");

            }
            else {
                $('#MsgDescription').val("");
            }

        }
        $('#btnSubmit').on('click', function () {
         
            var edit = $("#HdnEditFlag").val();
            if (edit == "" || edit == null) {
                $('#MSG').text("Please Edit and Save content")
                $("#SucMSG").modal('show');
                return false;
            }
            var Description = $('.Editor-editor').html();
            var numb = "";
            if ('#statusbar_txtEditor') {
                var test = $('#statusbar_txtEditor').html();
                var splitStr = test.substring(test.indexOf('Characters :') + 1);
                numb = splitStr.match(/\d/g);
                if (numb!=null) {
                    numb = numb.join("");
                }
            }


        var Title = $('#txtTitle').val();
        var len = Description.length
            if (numb > 1000) {
            $('#MsgDescription').text("Maximum 1000 characters allowed");
        }
        else if (Title == "" && Description == "") {


            $('#MsgTitle').text("Please Enter the Title");
            $('#MsgDescription').text("Please Enter the Descripton");
        }
        else if (Title == "") {
            $('#MsgTitle').text("Please Enter the Title");
        }
        else if (Description == "") {
            $('#MsgDescription').text("Please Enter the Descripton");
        }
        else {
            $('#MsgTitle').text("");
            $('#MsgDescription').text("");

        var HdnEditFlag = $('#HdnEditFlag').val();
        var HdnEditPageId = $('#HdnEditPageId').val();
        var dataobj = { 'ID': HdnEditPageId,'Description': Description, 'Title': Title, 'Edit': HdnEditFlag};
    $.ajax({
    url: '@Url.Action("Savecontent", "content")',
    type: 'POST',
    data: dataobj,
    success: function (result) {

        if (result.errorcode == 0)
        {
            RefreshDataTable()
            $("input:text").val("");
            $('#txtTitle').val("");
            $('.Editor-editor').html("")
            $("#HdnEditFlag").val("");
            if (result.status == "Edit") {
                $('#MSG').text("Content Saved Successfully")
            }
            else {
                $('#MSG').text("Content Created Successfully")
            }
           
            $("#SucMSG").modal('show');
           
        }
        else
        {
         
            RefreshDataTable() 
            $('#MSG').text("Content Failed to Create")
            $("#SucMSG").modal('show');
        }
   },

   error: function (error)
   {
    console.log(error);
   }

    });
        }
 });
    </script>

    <script>
        function EditMenu(pageId) {

            $.ajax({
                url: '@Url.Action("GetContentDataById", "Content")',
                type: 'POST',
                data: { 'Id': pageId },
                success: function (result) {

                    $("#HdnEditFlag").val("EditTrue");
                    $("#HdnEditPageId").val(pageId);
                    $('#txtTitle').val(result.Title);
                    $('.Editor-editor').html(result.Description)

                },
                error: function (error) {

                    console.log(error);
                }
            });
        }

    </script>

    <script>
        $('.btndeletepage').on('click', function () {
            DeletePage($('#DeletePageId').val());
        });

        function DeletePageConfirmation(PageId) {
            $('#DeletePageId').val(PageId);
            $('#DeletePageModal').modal('show');
        }

        function DeletePage(PageId) {
            $('#DeletePageModal').modal('hide');
            $.ajax({
                url: '@Url.Action("DeletecontentById", "Content")',
                type: 'POST',
                data: { 'Id': PageId },
                success: function (result) {
                    if (result.errorcode == 0) {

                      RefreshDataTable()
                        $("input:text").val("");
                        $('#txtTitle').val("");
                        $('.Editor-editor').html("")
                        $("#IsActive").prop("checked", false);
                        $('#HdnEditFlag').val("");
                        $('#MSG').text("Content Deleted successfully")
                        $("#SucMSG").modal('show');
                      
                    }
                    else {
                        RefreshDataTable()
                        $('#MSG').text("Content Failed to delete")
                        $("#SucMSG").modal('show');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>

}
