

@using Kaisokku_Common;
@model SocialMediaGrid
@{ Layout = null; }

<form>
    @Html.Hidden("EidtSocialMediaID", Model.SocialMediaID)
    @Html.Hidden("SocialMediaID")
    <div class="form-group">
        <label for="Title">@Kaisokku_Sales.Resources.Resource.Title</label>
        <input type="text" class="form-control" id="EditSocialMediaTitle" value="@Model.Title" aria-describedby="emailHelp">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-group">
        <label for="Description">@Kaisokku_Sales.Resources.Resource.URL</label>
        <input type="text" class="form-control" id="EditSocialUrl" value="@Model.URL" aria-describedby="updatedby">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-group">
        <label for="Description">@Kaisokku_Sales.Resources.Resource.UploadIcon</label>
        <input type="text" class="form-control" id="EdtiSocialFile" value="@Model.Filename" aria-describedby="updatedby">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>

    @*<div class="form-group">
        @Html.DropDownList("SelectVideo", TempData["SelectVideo"] as SelectList, "-Download PPT-", new { @onchange = "SelectedValue(this)" })
        @{TempData.Keep("SelectVideo");}
    </div>*@

  

</form>
@*<script>

    //To get selected value an text of dropdownlist
    function SelectedValue(ddlObject)
    {

        //Selected value of dropdownlist
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;
       var baseUrl = '@Url.Action("Download", "Home")';
        location.href = baseUrl + '?png=' + selectedText;
    }
    //$('#btndownload').click(function () {
    //    debugger;


</script>*@

