@model MujiStore.Models.tblFolder

@{
    ViewBag.Title = MujiStore.Resources.Resource.VieFoldersCreateBrowTitle;
}
<script src="~/Scripts/select2/dist/js/jquery-3.0.0.js" type="text/javascript"></script>
<script src="~/Scripts/select2/dist/js/select2.js" defer type="text/javascript"></script>
<link href="~/Scripts/select2/dist/css/select2.min.css" rel='stylesheet' type='text/css'>
<h2 style="color:#ec2213; background-color:#e7bebb; margin-left:-4px; margin-bottom:15px;">@MujiStore.Resources.Resource.VieUserIndexCreateNew - @MujiStore.Resources.Resource.VieFoldersCreateH2Title</h2>
<style>
    .textbox {
        width: 450px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 10px;
        text-align: left;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    
    
    <div class="form-group">
        @Html.LabelFor(model => model.ParentID, MujiStore.Resources.Resource.ModtblFolderParentFolderName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ParentID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control textbox", @id = "Folder" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            @Html.ActionLink(MujiStore.Resources.Resource.CommonBackToList, "Index")
        </div>
        <div class=" col-md-10">
            <input type="submit" value=@MujiStore.Resources.Resource.CommonCreate class="btn btn-default" style="margin-left: 0px; width: 90px; margin-top: -5px; padding-bottom: 2px; padding-top: 4px;" />

        </div>
    </div>
</div>
}


<script type="text/javascript">
 

    $(document).ready(function () {
        $("#ParentID").select2({
            templateResult: formatOptions
        });

       
    });

    function formatOptions(state) {
        $('.select2-search__field').remove();
     
        if (!state.id) { return state.text; }

      
        var strfolder = state.text;
     
        var root = strfolder.substr(1, (strfolder.length - strfolder.trim().length-1))
       
        var Qstr = "";
        var vDemo = 0;
        
        
      
        var FiUrl = "";
      
    
        
        var url2 = window.location.href.replace(window.location.origin, "");
        
        var url3 = url2.substr(0, url2.indexOf('/Folders')); 
        FiUrl = url3 + "/img/folder-close1.png";
        var $state = $(
            '<span  style="color:black">' + root + '<img sytle="display: inline-block;" src=' + FiUrl + '  /> ' + strfolder.trim() + '</span>'
        );
       
        
        return $state;

    }
    function split_on_first_word(str) {
        str = str.trim();  // Clean string by removing beginning and ending spaces.

        var arr = [];
        var pos = str.indexOf(' ');  // Find position of first space

        if (pos === -1) {
            // No space found
            arr.push(str);                // First word (or empty)
            arr.push('');                 // Empty (no next words)
        } else {
            // Split on first space
            arr.push(str.substr(0, pos));         // First word
            arr.push(str.substr(pos + 1).trim());  // Next words
        }
     
        return arr;
    }

       
   

    function getSourceID() {
        alert($("#ParentID").val())
    }
</script>