
@{
    /**/

    ViewBag.Title= Vastu.Resources.Resource.HOMEVASTU;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    ViewBag.Title = Vastu.Resources.Resource.HOMEVASTU;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Hidden("HdnDeleteHomeVastuId")

<div id="divLoader" style="display:none; margin-left:490px; ">
    <img src="~/assets/img/ajax-loader2.gif" alt="Loader" />
</div>
<div class="modal fade" id="DeleteHomeVastuModal" tabindex="-1" role="dialog" aria-labelledby="DeleteHomeVastuLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteHomeVastuLabel">@Vastu.Resources.Resource.DeleteContent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body Deletemenucontent">
                @Vastu.Resources.Resource.Areyousuredelete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Vastu.Resources.Resource.No</button>
                <button type="button" class="btn btn-primary btndeletepage btn-danger">@Vastu.Resources.Resource.yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="mt-4">@Vastu.Resources.Resource.HOMEVASTU</h1>
    @Html.DropDownList("HomeVastu", new SelectList(ViewBag.HomeVastu, "ContentID", "ContentName"))
    <button class="btn btn-primary btn-sm" type="submit" id="btnLoad">@Vastu.Resources.Resource.Load</button>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">

            <div id="txtEditor"></div>
        </li>
    </ol>

    <div class="col-md-3" style="padding-bottom: 5px;">
        <button class="btn btn-primary" type="submit" id="btnSubmit">@Vastu.Resources.Resource.Save</button>
        <button class="btn btn-primary" type="button" id="btnDelete">@Vastu.Resources.Resource.Delete</button>
    </div>
</div>





@section scripts{

    <script src="~/WYSIWY/editor.js"></script>

    <script>
        $("#txtEditor").Editor();
    </script>

    <script>
        $('#btnLoad').on('click', function () {

            var dataobj = { 'ContentID': $("#HomeVastu option:selected").val() };

            $.ajax({
                url: '@Url.Action("LoadSelectedHomeVastuContent", "HomeVastuContent")',
                type: 'POST',
                data: dataobj,
                success: function (result) {

                    if (result.length !=0) {
                        if (result.errorcode != -1) {
                            $('.Editor-editor').html(result[0].ContentDescription)
                        }
                    }
                    else {
                        $('.Editor-editor').html("");
                    }
                },
                error: function (error) {

                    console.log(error);
                }
            });

            });

    </script>

    <script>
        $('#btnSubmit').on('click', function () {
            $("#divLoader").show();

            //$('.Editor-editor').find('div').filter(function () {
            //    var text = $(this).text().replace(/&nbsp;/g, '').replace(/\s*/g, '');
            //    return !text;
            //}).empty().after('<br>');


            $('.Editor-editor div').each(function () {
                if ($(this).text().trim().length == 0 ) {
                    //console.log('div is empty');
                    if ($(this).children().length == 0) {
                        $(this).replaceWith('<div></br><br></div>')
                    }
                }
            })

            var PageDescription = $('.Editor-editor').html();

            //debugger;
          
            var dataobj = { 'ContentDescription': PageDescription, 'ContentID': $("#HomeVastu option:selected").val() };
            $.ajax({
            url: '@Url.Action("SavePageInformation", "HomeVastuContent")',
            type: 'POST',
            data: dataobj,
            success: function (result) {

            if (result.errorcode !=-1)
            {
                alert("Successfully Saved")
                $('.Editor-editor').html("")
                $('#HomeVastu').val(0)
                $("#divLoader").hide();
            }
            else
            {
                alert("save failed")
                $('.Editor-editor').html("")
                $('#HomeVastu').val(0)
                $("#divLoader").hide();
            }
            },

            error: function (error)
            {
                $('.Editor-editor').html("")
                $('#HomeVastu').val(0)
                console.log(error);
                $("#divLoader").hide();
            }

            });
    });
    </script>


    <script>
        $('.btndeletepage').on('click', function () {
            DeleteContent($('#HdnDeleteHomeVastuId').val());
        });


        $('#btnDelete').on('click', function () {
            $('#HdnDeleteHomeVastuId').val($("#HomeVastu option:selected").val());
            $('#DeleteHomeVastuModal').modal('show');
        });






        function DeleteContent(ContentID) {
            $('#DeleteHomeVastuModal').modal('hide');
            $("#divLoader").show();
            $.ajax({
                url: '@Url.Action("DeleteContentById", "HomeVastuContent")',
                type: 'POST',
                data: { 'ContentID': ContentID },
                success: function (result) {
                    if (result.errorcode !=-1) {

                        alert('Content Deleted Successfully');
                        //$("input:text").val("");
                        $('.Editor-editor').html("")
                        $('#HdnDeleteHomeVastuId').val("");
                        $("#divLoader").hide();
                    }
                    else {
                        $("#divLoader").hide();
                        alert('Unable to delete');

                    }
                },
                error: function (error) {
                    console.log(error);
                    $("#divLoader").hide();
                    alert('Unable to delete...Contact Admin');
                }
            });
        }
    </script>

}

