<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    @*<title>Home - Vastu Shastra</title>*@
    <title>@ViewBag.Title</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/assets/img/faviconn.png" rel="icon">
    <link href="~/assets/img/apple-touch-iconn.png" rel="apple-touch-iconn">
    <script src="https://kit.fontawesome.com/136c195b2d.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">

    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">

    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/login.css" rel="stylesheet">
    <link href="~/assets/css/stylewave.css" rel="stylesheet">
    <style>
        .vastu-icon {
            width: 65px;
            height: 30px;
            /* padding: 4px 14px; */
            text-align: center;
            float: left;
            background: rgb(255,255,255);
            /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%); */
            box-shadow: 2px 3px 8px 0px #ccc;
            border-radius: 10px;
            margin-top: -15px;
        }

        .displayflex {
        }

        .size {
            margin-left: 84px;
        }

        .navbar-inverse {
            color: #fff;
            text-decoration: none;
        }

        li {
            color: red;
            /*border-right: 0.8px solid #4f3207;*/
            list-style: none
        }

        #nav ul {
            display: none;
        }

        #nav li:hover > ul {
            display: block;
            float: left;
        }

        .mgt {
            margin-left: 0px;
            color: white;
            border-radius: 0px;
            padding: 0px;
            background-color: white;
            width: 90px;
            list-style: disc;
        }

        .nav ul {
            display: none;
            position: fixed;
            z-index: 2;
            list-style: disc;
        }


        .navbar li ul :hover {
            background-color: white;
            color: #1bbd36;
            text-decoration: none;
            list-style: disc;
        }

        .navbar li ul {
            background-color: white;
            color: black;
            text-decoration: none;
            list-style: disc;
            margin-left: 10px;
            min-width: 100px;
            padding: 5%;
        }

        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .text-responsive {
            font-size: calc(100% + 1vw + 1vh);
        }
    </style>





</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        
        <div class="container d-flex align-items-center col-sm-11 ">
            @*<div style=" margin-right: -25px;   margin-left: -90px;">*@
            <div class=" text-responsive">
                <h5 class="logo mr-auto ">
                    <a><span>@Vastu.Resources.Resource.Vastu</span>@Vastu.Resources.Resource.Shastra</a>
                </h5>
            </div>

            @*</div>*@
            @if (HttpContext.Current.Session["LOGIN_NAME"] != null && HttpContext.Current.Session["USER_TYPE"] != null)
            {

        <nav class="nav-menu d-none d-lg-block col-sm-7 ">
            
            @*<div style=" margin-right: -25px;   margin">
        @*style=" margin-right: -200px;  margin-left: 10px;"*@
            @*<ul id="nav" class="nav navbar displayflex ">*@
            <ul>
                @{

                    if (ViewBag.Home == "Home")
                    {

                        <li class="active"><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>
                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT </a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>



                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>

                        @*<ul class="mgt" style="padding-top: 5px; margin-top:5px; border-top:1px solid #1bbd36 ">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", @style = "color:black" }, null)</ul>
                    <ul class="mgt" style="margin-top:25px;  padding-top:10px; padding-bottom:10px">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", @style = "color:black" }, null)</ul>*@

                        @*<ul class="mgt" style="border-top:1px solid #1bbd36 ">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", @style = "color:black" }, null)</ul>
                    <ul class="mgt">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", @style = "color:black" }, null)</ul>*@




                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>


                    }

                    if (ViewBag.SearchVastu == "SearchVastu")
                    {

                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li class="active"><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>


                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>


                    }

                    if (ViewBag.VastuReport == "VastuReport")
                    {

                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li class="active"><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>

                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>



                    }



                    if (ViewBag.VastuTips == "VastuTips")
                    {
                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li class="active"><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>
                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>

                    }

                    if (ViewBag.HomeVastu == "HomeVastu")
                    {
                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li class="active"><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>
                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>

                    }

                    if (ViewBag.About == "About")
                    {
                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li class="active"><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>
                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>

                    }

                    if (ViewBag.Feedback2 == "Feedback")
                    {
                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li class="active"><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>
                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>

                    }
                    if (ViewBag.Contact == "Contact")
                    {
                        <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                        <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                        <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                        <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                        <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                        <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                        <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                        <li class="active"><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Vastu.Resources.Resource.Language
                                @*<i class="arrow down" style="margin-bottom:2px; margin-left:5px;"></i>*@
                                <span class="caret"></span>

                            </a>
                            <ul class="dropdown-menu" style=" min-width: 75px; padding: 5%;">
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", type = 1, @style = "color:black" }, null)</a></li>
                                <li><a href="#">@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", type = 1, @style = "color:black" }, null)</a></li>

                            </ul>
                        </li>
                        if (HttpContext.Current.Session["USER_TYPE"].ToString() == "1")
                        {
                            <li><a href="@Url.Action("Index", "UserMaster")">@Vastu.Resources.Resource.Admin</a></li>
                        }

                        <div style=" padding-top: 5px;padding-left: 20px; font-weight:bold; font-size:18px; color:black; ">
                            @if (HttpContext.Current.Session["LOGIN_NAME"] != null)
                            {

                                @Html.Label(@HttpContext.Current.Session["LOGIN_NAME"].ToString())
                            }
                        </div>

                        <!-- end message -->
                        <li>


                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 0px;">
                                <ul class="menu inner-content-div" style="overflow: hidden; width: auto; height: 0px;">

                                    <li>
                                        <!-- start message -->

                                        <div class="mail-contnet" style="height:29px;margin-left:8px;">


                                            <span><input type="button" value="en" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>
                                    <!-- end message -->
                                    <li>

                                        <div class="mail-contnet">

                                            <span><input type="button" value="ja" onclick="dosomething(this.value)"></span>
                                        </div>

                                    </li>

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>



                            <ul class="nav navbar-nav link">
                            </ul>



                            <a href="~/Login/SignOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Logout"><i class="fa fa-power-off" aria-hidden="true"></i></a>



                        </li>

                    }
                    @*if (ViewBag.Language == "Language")
                {
                    <li><a href="@Url.Action("Index", "Home")">@Vastu.Resources.Resource.Home</a></li>
                    <li><a href="@Url.Action("Index", "SearchVastu")">@Vastu.Resources.Resource.SEARCHVASTU</a></li>
                    <li><a href="@Url.Action("Index", "VastuReport")">@Vastu.Resources.Resource.VASTUREPORT</a></li>
                    <li><a href="@Url.Action("Index", "VastuTips")">@Vastu.Resources.Resource.VASTUTIPS</a></li>
                    <li><a href="@Url.Action("Index", "HomeVastu")">@Vastu.Resources.Resource.HOMEVASTU</a></li>

                    <li><a href="@Url.Action("Index", "About")">@Vastu.Resources.Resource.ABOUT</a></li>
                    <li><a href="@Url.Action("Index", "Feedback")">@Vastu.Resources.Resource.FEEDBACK</a></li>
                    <li><a href="@Url.Action("Index", "Contact")">@Vastu.Resources.Resource.CONTACT</a></li>
                    <li class="active">
                        <a href="@Url.Action("Index", "Language")">@Vastu.Resources.Resource.Language</a>
                    </li>
                    <li><a href="@Url.Action("Index", "Login")">@Vastu.Resources.Resource.LOGIN</a></li>
                }*@


                }



                @*<li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "SearchVastu")">Search Vastu</a></li>
            <li><a href="@Url.Action("Index", "VastuReport")">Vastu Report</a></li>
            <li><a href="@Url.Action("Index", "VastuTips")">Vastu Tips</a></li>
            <li><a href="@Url.Action("Index", "HomeVastu")">Home Vastu</a></li>

            <li><a href="@Url.Action("Index", "About")">About</a></li>
            <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
            <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
            <li><a href="@Url.Action("Index", "Login")">Login</a></li>*@
            </ul>
        </nav>
            }
        </div>
    </header><!-- End Header -->
    @*<div class="container body-content">
            @RenderBody()
        </div>*@
    <div>
        @if (TempData["ErrMsg"] != null)
        {
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["ErrMsg"].ToString()
            </div>
        }
        @if (TempData["SuccMsg"] != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @TempData["SuccMsg"].ToString()
            </div>
        }
        @RenderBody()

    </div>
    <br>
    <br>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">
            <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
            @*<div class="mr-md-auto text-center text-md-left" style="margin: auto; margin-top: -15px;">
            <div class="copyright">

            </div>

        </div>*@
        </div>
    </footer><!-- End Footer -->

    

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
